<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        @Controller
            public class IndexController {

    @RequestMapping("/") // Url al que responde
    public String index() {
        return "index"; // Nombre de la vista en templates a mostrar
    }

    @RequestMapping("/informacion") // Url al que responde
    public String info() {
        return "info"; // Nombre de la vista en templates a mostrar
    }
}

    </body>
</html>
